:root {
  --bg-color: rgb(35, 35, 35);
  --main-color: rgb(50, 50, 50);
  --secondary-color: rgb(75, 75, 75);
  --accent-color: rgb(140, 152, 189);
  --text-color: rgb(220, 220, 220);
  --error-text-color: rgb(231, 75, 75);
  --btn-color: rgb(170, 170, 170);
  --btn-hover-color: rgb(230, 230, 230);
  --hover-color: rgb(65, 65, 65);
}

[data-theme="light"] {
  --bg-color: rgb(255, 255, 255);
  --main-color: rgb(210, 210, 210);
  --secondary-color: rgb(190, 190, 190);
  --accent-color: rgb(95, 116, 182);
  --text-color: rgb(30, 30, 30);
  --error-text-color: rgb(196, 49, 49);
  --btn-color: rgb(150, 150, 150);
  --btn-hover-color: rgb(211, 208, 208);
  --hover-color: rgb(170, 170, 170);
}


.error-msg {
  color: var(--error-text-color);
}

* {
  margin: 0px;
  padding: 0px;
  transition: background-color .25s ease;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
}

#root {
  height: 100vh;
}

