:root {
  --bg-color: rgb(35, 35, 35);
  --main-color: rgb(50, 50, 50);
  --accent-color: rgb(140, 152, 189);
  --text-color: rgb(220, 220, 220);
  --secondary-text-color: rgb(180, 180, 180);
  --hover-color: rgb(65, 65, 65);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding: min(30px, 5%);
}
main p {
  color: var(--secondary-text-color);
  margin-top: 5px;
  margin-bottom: 15px;
}
main section {
  border: 1px solid var(--accent-color);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);
}

h1 {
  margin: 10px 0px;
}
.page {
  display: grid;
  grid-template-columns: auto 1fr;
}