.drop-down-field {
  display: flex;
  width: fit-content;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border: 1px solid greenyellow;

}

.drop-down {
  position: relative;
  top: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
  padding: 0.75rem;
}

.drop-down-header {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

}

.drop-down-content {
  cursor: pointer;
  display: relative;
  font-size: 1rem;
  margin: 0.25rem 0rem;
  margin-left: 10px;
}