#outer-container {
  display: flex;
  border-radius: 10px;
  color: var(--text-color);
  padding: 1rem;
  margin: 15px 0px;
  height: auto;
  background-color: var(--main-color);
}
#inner-container {
  color: var(--text-color);
  display: flex;
  width: 100%;
}

#inner-container img {
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  opacity: 1;
  height: auto;
  width: 33%;
  object-fit: cover;
}

#text {
  position: relative;
  margin-left: .8rem;
  width: 66%;
}
#wrapper {
  position: absolute;
  display: flex;
  left: 0px;
  bottom: 0px;
  
  #title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  #releaseYear {
    margin-left: 2px;
    font-style: italic;
    font-size: 0.8rem;
    transform: translateY(.25rem);
  }
}
#rating {
  position: absolute;
  font-size: 1.25rem;
  top: 0px;
  right: 0px;
}
#genre {
  position: absolute;
  font-size: 1.25rem;
  bottom: 0px;
  right: 0px;
}

#vertical-line {
  margin: 0px 20px;
  border-radius: 1px;
  border: 1px solid var(--accent-color);
}

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin: auto;
}

#buttons img {
  fill: var(--text-color);
  width: 2.5rem;
  border: none;
}
.button-bg {
  border-radius: .5em;
  margin: 5% 0px;
  padding: .75rem;
  height: 2.5rem;
  border: none;
}
.button-bg:hover{
  background-color: var(--hover-color);
}