#outer-container {
  display: flex;
  border-radius: 10px;
  color: var(--text-color);
  padding: 1rem;
  margin: 0.3rem 0px;
  height: 6rem;
  background-color: var(--main-color);
}
#outer-container #inner-container {
  color: var(--text-color);
  display: flex;
  width: 90%;
}

#outer-container #inner-container img {
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  object-fit: cover;
}

#outer-container #text {
  position: relative;
  margin-left: .8rem;
  width: 100%;
}
#outer-container #wrapper {
  position: absolute;
  display: flex;
  left: 0px;
  bottom: 0px;
  
  #title {
    font-size: 2rem;
    font-weight: bold;
  }
  #releaseYear {
    margin-left: 2px;
    font-style: italic;
    font-size: 1rem;
    transform: translateY(.4rem);
  }
}
#outer-container #rating {
  position: absolute;
  font-size: 2rem;
  top: 0px;
  right: 0px;
}
#outer-container #genre {
  position: absolute;
  font-size: 1.25rem;
  bottom: 0px;
  right: 0px;
}

#outer-container #vertical-line {
  margin: 0px 20px;
  border-radius: 1px;
  border: 1px solid var(--accent-color);
}

#outer-container #buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

#outer-container #buttons img {
  fill: var(--text-color);
  width: 2rem;
}
#outer-container .button-bg {
  border-radius: .5em;
  margin: 5% 0px;
  padding: .5rem;
  height: 2rem;
}
#outer-container .button-bg:hover{
  background-color: var(--hover-color);
}